# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.rar
*.zip
*.rdf
*.rtf
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.xml
*.png
*.txt
*.csv
*.eft
*.fmx
*.fmb
*.mp4
*.mp3
*.jpg
*.camrec
*.gsheet
*.gform
*.bmp
*.jar
*.tmp
*.eap
*.ppt

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/20161116 - Java Stored Procedure - Hola Mundo/HolaMundo/nbproject/private/
/20161116 - Java Stored Procedure - Hola Mundo/HolaMundo/build/
/20161116 - Java Stored Procedure - Hola Mundo/HolaMundo/dist/
/20161201 - Verificación de Timbrado CFDI/VerificationCFDI/nbproject/private/
/20161201 - Verificación de Timbrado CFDI/CFDI_Verification/nbproject/private/
/20161201 - Verificación de Timbrado CFDI/CFDI_Verification/build/
/20161201 - Verificación de Timbrado CFDI/CFDI_Verification/dist/
/20161201 - Verificación de Timbrado CFDI/PAC_CFDI_JAVA/nbproject/private/
/20161201 - Verificación de Timbrado CFDI/PAC_CFDI_JAVA/build/